
main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #000000;
  --secondary: #F3A847;
  --tertiary: #B12704;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url('../src/assets/images/image.png');
}

.text-background {
  background-color: rgba(213, 215, 216, 0.514) 
}

.header {
  text-align: center;
  font-size: 30px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header a {
  color: var(--light);
}

.my-work {
  display: flex;
  flex-wrap: wrap;
}

.gh-link {
  font-size: 25px;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  /* background-color: var(--secondary); */
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

li {
  list-style: none;
}

.nav-tabs {
  display: flex;
}

.nav-link {
  margin: auto;
}

nav a:hover {
  text-decoration: none;
}

.my-5 {
  width: 85%;
  text-align: center;
  margin: auto;
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 50px;
}

.card {
  width: 25%;
  text-align: center;
}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

a {
	border-radius: 5px;
	color: var(--primary);
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
}

.navActive {
  color: var(--secondary);
}

footer {
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: 100%;
  margin: auto;
  padding-left: 0px;
  padding-right: 0px;
  background-color: rgba(204, 201, 201, 0.356) 
}

svg {
  height: 52px;
  margin: 0 2em;
}